:root{
  --logoColor: #dd2521;
  --yellow:  #ffdf00;
}

body {
  position: relative;
  min-height: 100vh;
}
main{
  /*make space between footer & content*/
  margin-bottom: 2em;

}
h2{
  font-style: italic;
}

#newArrivalCarousel {
  max-height: 500px;

}

#newArrivalCarousel .carousel-inner .carousel-item img {
  max-height: 500px;
}
/*Product Section on HOME*/

/*Class to apply to JS productCards*/
.customSmallThumbnail{
  width: 150px; 
  height: auto; 
  border-radius: 12px;
}
/*Product Details On MODAL*/
.customSmallText{
  color: #4b4343;
  font-style: italic;
}
.customBorder{
  border-bottom: solid 2px;
}
.starIcon{
  color: var(--yellow)
}
/*Contact Page*/
form {
  padding: 2em 1em 2em 1em;
}

textarea {
  max-height: 300px;
  resize: vertical;
}

footer {
  background-color: #dd2521;
/*Force Bottom*/
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer ul {
  list-style: none;
}